#container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-sizing: border-box; 
}

#header {
  background-color: #243E82;
  height: 15%;
  color: white;
  display: flex;
  align-items: center;
}

#header img {
  height: 12vh;
}

#loginContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
}

#login {
  background-color: #3f3f4a;
  margin: 6vh;
  padding: 3vh;
  width: 25%;
  border-radius: 2vh;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

#login input {
  padding: 1vh;
  font-size: 1.6vh;
  border: none;
  background-color: #d9d9d9;
}

#autenticacion {
  background-color: #4c5ba8;
  color: white;
  font-weight: bold;
  padding: 1vh;
  border: none;
  border-radius: 1vh;
  cursor: pointer;
}
